*{
	margin: 0;
	padding: 0;
	/*outline: 1px dotted red;*/
}
h2{
	color: #606c88;
}
	.blue{
		background-color: #606c88;
		color: white;
	}
.navbar{
	border-bottom: 1px solid #888888;
}
	.header h2{
		margin-top: 15px;
	}
	.header a{
		text-decoration: none;
	}
	.header form, .header .dropdown-toggle{
		margin: 14px 0;
	}
		.dropdown-menu input:not(.btn){
			display: inline-block;
			margin-bottom: 10px;
		}
#myModal label, #myModal input:not(.btn){
	display: inline-block;
	margin-bottom: 5px;
}
	#myModal form{
		text-align: left;
	}
body{
	padding-top: 60px;
}